.wordpress-edit-button,
.wordpress-edit-button:hover {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 9999999;

    background: #333;
    height: 25px;
    padding: 0 10px;
    color: white;

    opacity: 0.3;

    border: none;
    cursor: pointer;
}

.wordpress-edit-button:hover {
    opacity: 1;
}